h1{
	text-align: center;
}
/* slider CSS start */
.slider_container{
	display: flex;
	justify-content: center;
}
#img{
	width: 350px;
	box-shadow: 10px 10px 15px black;
	/* backdrop-filter: 10px; */
	/* height: 350px; */
}
/* slider CSS end */